
/* Background image */
html { 
  /* The image used */
  background-image: url('/img/Bground2.jpg');

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* Space out content a bit */
body {
    padding-top: 0px;
	padding-bottom: 10px;
	margin: 20px auto;
    width: 85%;
    /* background-color: #141414; */
}

/* Change the font on front h1 only */
.blurb > h1 {
  color: #000000;
  font-family: 'Monaco';
  font-size: 2em;
}


/* Navigation pills */
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav > li {
  position: relative;
  display: block;
  font-family:'Monaco';
}

.nav_pills > li {
  float: left;
}

.nav > li > a {
  position: relative;
  display: block;
  padding-left: 50px;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #ffffff;
  background-color: #428bca;
}	

.nav-pills > li > a > .badge {
  margin-left: 3px;
}

/* html links */
a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    text-decoration: underline;
}

/* Custom page header */
.header {
	padding-top: 0px;
	border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 5px;
}

/* Custom page footer */
.footer {
  padding-top: 5px;
  color: #000000;
  border-top: 1px solid #e5e5e5;
  font-size: 0.75em;
}

/* Aligning left or right */
.pull_right {
  float: right;
}

h1 {
    font-size: 2em;
    font-family:'Monaco';
	color: #000000;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
	font-family:'adobe-garamond-pro';
	color: #000000;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
