


	<div id="welcome">
		<div class="container">
			<div class="title">
				<h2>Contact</h2>
				<span class="byline">Please reach out via the links below</span>
			
				<ul class = "contact">
					<li> <a href="mailto:Thomas.Handscomb@gmail.com" class="fa fa-mail-reply"></a> </li>
					<li> <a href="https://github.com/ThomasHandscomb" class="fa fa-github"></a> </li>
					<li> <a href="https://www.linkedin.com/in/thomashandscomb/" class="fa fa-linkedin"></a> </li>
				</ul>
		
			</div>
		</div>
	</div>

<div id="copyright" class="container">
	<p>&copy; Thomas Handscomb 2019 | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a></p>
</div>