<div id="header-wrapper">

	<div id="header" class="container">
		<div id="logo">
			<h1><a> Thomas Handscomb </a></h1>
		</div>
		<div id="menu">
			<ul style = "font-size:1.5em">
				<li> <a href="/" title="">Home</a></li>
				<!--UNCOMMENT BELOW TO PUT THE DS BLOG BACK IN-->
				<!--<li><a href="/Data Science" title="">Data Science</a></li> -->
			</ul>
		</div>
	</div>
	
	<div id="banner" class="container">
		<div class="title">
			<h2> {{ page.description }}</h2>
			<span class="byline">{{ page.Comment }}</span>
		</div>
		<!--<ul class="actions">
			<li><a href="#" class="button">Find out more</a></li>
		</ul> -->
	</div>

</div>