<!DOCTYPE html>
<html>
<meta name="description" content="add a description of your site here">
<meta name="keywords" content="add, some, keywords, you, want, here">
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/About">About</a></li>
			<li><a href="/ds">Data Science th</a></li>
        		<li><a href="/CV">CV</a></li>       		
    		</ul>
		</nav>
		
		<div class="container">
			
			{{ content }}
			
		</div><!-- /.container -->

	</body>
</html>
