<!DOCTYPE html>
<html>
<meta name="description" content="add a description of your site here">
<meta name="keywords" content="add, some, keywords, you, want, here">
	<head>
		<title>Thomas Handscomb</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="./css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
				<li><a href="/blog">Blog</a></li>
        		<li><a href="/cv">CV</a></li>       		
    		</ul>
		</nav>
		<div class="container">
    		<div class="blurb">
        		<h1>Thomas Handscomb</h1>
				<p>Data Scientist</a></p>
    		</div><!-- /.blurb -->
		</div><!-- /.container -->

    <section id="content-contact">
        <div class="container">
            <h2>Contact</h2>

            <div class="row">
                <p class="text-center"><a href="mailto:Thomas.Handscomb@gmail.com" target="_blank" class="blue">Thomas.Handscomb@gmail.com</a></p>
                <p class="text-center"><a href="https://www.linkedin.com/in/ThomasHandscomb" target="_blank" class="blue">LinkedIn</a></p>
                <p class="text-center"><a href="https://github.com/thomashandscomb" target="_blank" class="blue">GitHub</a></p>
            </div>

        </div>
    </section>

	</body>
</html>
