<!DOCTYPE html>
<html>
<meta name="description" content="add a description of your site here">
<meta name="keywords" content="add, some, keywords, you, want, here">
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="./css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
			<li><a href="/blog">Blog</a></li>
        		<li><a href="/cv">CV</a></li>       		
    		</ul>
		</nav>
	{{ content }}

	</body>
</html>
